.child-component-layout {
  width: 50ch;
  height: 20ch;
  background-color: greenyellow;
  border-style: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: green;
  margin-top: 20px;
}
